fastapi
uvicorn[standard]
motor
pydantic
pydantic-settings
email-validator
PyJWT
python-multipart
pytest
pytest-asyncio
httpx
openai
prometheus-fastapi-instrumentator
bcrypt==4.1.2
passlib[bcrypt]==1.7.4
